* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post__btns {
  display: flex;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: opacity 500ms ease-in;
}
.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 2px solid orange;
  font-weight: bold;
}
.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: lightgrey;
}
.navbar__links {
  margin-left: auto;
}
.addTask {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.addTask.active {
  opacity: 1;
  pointer-events: all;
}

.addTask__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vw;
}

.addTask__content.active {
  transform: scale(1);
}
